body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator{
  width: 400px;
  background-color: hsl(0, 0%, 15%);
  overflow: hidden;
  border-radius: 10px;
}
.btns{
  display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;
    gap:10px;
}
input{
    width: 100%;
    background-color: hsl(0, 0%, 20%);
    border: none;
    height: 90px;
    color: white;
    font-size: 50px;
    font-weight: 600;
}
button{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: hsl(0, 0%, 30%);
    border: none;
    color: white;
    font-size: 19px;
    font-weight: 600;

}
button:hover{
    background-color: hsl(0, 0%, 40%);
    cursor: pointer;
}
button:active{
    background-color: hsl(0, 0%, 50%);
    cursor: pointer;
}


.btn{
    background-color: hsl(35, 100%, 55%);
}
.btn:hover{
    background-color: hsl(35, 100%, 65%);
    cursor: pointer;
}